.single-product {
  border: 1px solid #e5e5e5;
  border-radius: 4px;
  padding: 15px;
  background-color: #fff;
}

.single-product .product-img img {
  display: block;
  width: 100%;
  height: auto;
}

.single-product .product-content {
  text-align: center;
}


