<div class="breadcrumb-area">
  <div class="container">
    <div class="breadcrumb-content">
      <h2>Other</h2>
      <ul>
        <li><a routerLink="/">Home</a></li>
        <li class="active">My Account</li>
      </ul>
    </div>
  </div>
</div>

<main class="page-content">
  <div class="account-page-area">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-3">
          <ul class="nav myaccount-tab-trigger" role="tablist">
            <li class="nav-item">
              <a class="nav-link" 
                 [class.active]="activeTab() === 'dashboard'"
                 (click)="setActiveTab('dashboard')" 
                 href="javascript:void(0)">Dashboard</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 [class.active]="activeTab() === 'offers'"
                 (click)="setActiveTab('offers')" 
                 href="javascript:void(0)">My Offers</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" 
                 [class.active]="activeTab() === 'details'"
                 (click)="setActiveTab('details')" 
                 href="javascript:void(0)">Account Details</a>
            </li>
          </ul>
        </div>
        <div class="col-lg-9">
          <div class="tab-content myaccount-tab-content" style="width: 75%; margin: 0;">
            @if (activeTab() === 'dashboard') {
              <div id="account-dashboard" class="tab-pane active show">
                <div class="myaccount-dashboard" style="text-align: center;">
                  <img src="https://media.istockphoto.com/id/1130884625/vector/user-member-vector-icon-for-ui-user-interface-or-profile-face-avatar-app-in-circle-design.jpg?s=612x612&w=0&k=20&c=1ky-gNHiS2iyLsUPQkxAtPBWH1BZt0PKBB1WBtxQJRE=" alt="Profile Picture" style="width: 150px; height: 150px; border-radius: 50%; margin-bottom: 20px;">
                  <h3 style="margin-bottom: 1em;">Profile Information</h3>
                  <div class="profile-info">
                    <p><strong>First Name:</strong> {{ currentUser()?.firstName }}</p>
                    <p><strong>Last Name:</strong> {{ currentUser()?.lastName }}</p>
                    <p><strong>Email:</strong> {{ currentUser()?.email }}</p>
                  </div>
                </div>
              </div>
            }
            @if (activeTab() === 'offers') {
              <div id="account-offers" class="tab-pane active show">
                <div class="myaccount-offers">
                <h4 class="small-title">MY OFFERS</h4>
                @if (loading) {
                  <app-ring-spinner 
                    message="Loading your offers..." 
                    size="medium"
                    color="#c0c0c0">
                  </app-ring-spinner>
                } @else if (error) {
                  <p class="text-danger">{{ error }}</p>
                } @else if (!offers || offers.length === 0) {
                  <p>You haven't created any offers yet.</p>
                } @else {
                  <div class="shop-product-wrap grid gridview-3 img-hover-effect_area row">
                  <div class="col-lg-4" *ngFor="let offer of offers">
                    <div class="product-slide_item">
                      <div class="inner-slide">
                        <div class="single-product">
                          <div class="product-img">
                            <a [routerLink]="['/catalog', offer._id, 'details']">
                              <img class="primary-img" [src]="offer.imageUrl" alt="Product Image" />
                            </a>
                          </div>
                          <div class="product-content">
                            <div class="product-desc_info">
                              <div class="rating-box">
                                <ul>
                                  <li *ngFor="let s of stars; let idx = index" [class.silver-color]="isSilver(idx, offer.rating)">
                                    <i class="ion-android-star"></i>
                                  </li>
                                </ul>
                              </div>
                              <h6><a class="product-name" [routerLink]="['/catalog', offer._id, 'details']">{{ offer.title }}</a></h6>
                              <div class="price-box">
                                <span class="new-price">${{ offer.price }}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                }
                </div>
              </div>
            }
            @if (activeTab() === 'details') {
              <div id="account-details" class="tab-pane active show">
                <div class="myaccount-details">
                <h4 class="small-title">ACCOUNT DETAILS</h4>
                
                @if (updateSuccess()) {
                  <div class="alert alert-success" role="alert">
                    {{ updateSuccess() }}
                  </div>
                }
                
                @if (updateError()) {
                  <div class="alert alert-danger" role="alert">
                    {{ updateError() }}
                  </div>
                }
                
                <form [formGroup]="accountDetailsForm" (ngSubmit)="onUpdateAccount()" class="uren-form">
                  <div class="uren-form-inner">
                    <div class="name-fields-row">
                      <div class="single-input single-input-half">
                        <label for="account-details-firstname">First Name*</label>
                        <input 
                          [class.input-error]="firstNameError"
                          type="text" 
                          id="account-details-firstname"
                          formControlName="firstName"
                          placeholder="Enter your first name">
                        @if (firstNameError) {
                          <p style="color: red; margin-top: 5px;">{{ firstNameErrorMessage }}</p>
                        }
                      </div>
                      <div class="single-input single-input-half">
                        <label for="account-details-lastname">Last Name*</label>
                        <input 
                          [class.input-error]="lastNameError"
                          type="text" 
                          id="account-details-lastname"
                          formControlName="lastName"
                          placeholder="Enter your last name">
                        @if (lastNameError) {
                          <p style="color: red; margin-top: 5px;">{{ lastNameErrorMessage }}</p>
                        }
                      </div>
                    </div>
                    
                    <div class="single-input">
                      <label for="account-details-email">Email*</label>
                      <input 
                        [class.input-error]="emailError"
                        type="email" 
                        id="account-details-email"
                        formControlName="email"
                        placeholder="Enter your email address">
                      @if (emailError) {
                        <p style="color: red; margin-top: 5px;">{{ emailErrorMessage }}</p>
                      }
                    </div>
                    
                    <div class="single-input">
                      <button 
                        class="uren-btn uren-btn_dark" 
                        type="submit" 
                        [disabled]="!isFormReady || updating()">
                        <span>
                          @if (updating()) {
                            UPDATING...
                          } @else {
                            SAVE CHANGES
                          }
                        </span>
                      </button>
                    </div>
                  </div>
                </form>
                </div>
              </div>
            }
          </div>
        </div>
      </div>
    </div>
  </div>
</main>


