<div class="uren-slider_area uren-slider_area-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="main-slider slider-navigation_style-2" style="position: relative;">
                    <span class="slick-arrow slick-prev" (click)="prevSlide()"><i class="ion-ios-arrow-left"></i></span>
                    <app-slider-item *ngFor="let item of items; let i = index"
                        [item]="item" [active]="i === activeIndex"></app-slider-item>
                    <span class="slick-arrow slick-next" (click)="nextSlide()"><i class="ion-ios-arrow-right"></i></span>
                    <ul class="slick-dots">
                        <li *ngFor="let item of items; let i = index" (click)="goToSlide(i)" [class.slick-active]="i === activeIndex">
                            <button type="button">{{ i + 1 }}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="row banner-wrap">
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="assets/images/banner/2-1.jpg" alt="Uren's Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner-2 banner-item img-hover_effect">
                            <a href="shop-left-sidebar.html">
                                <img class="img-full" src="assets/images/banner/2-2.jpg" alt="Uren's Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>