<div class="uren-slider_area uren-slider_area-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-9 col-lg-8">
                <div class="main-slider slider-navigation_style-2" style="position: relative;">
                    <button class="slick-arrow slick-prev" type="button" aria-label="Previous slide" (click)="prevSlide()">
                        <svg class="arrow-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M15 18l-6-6 6-6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </button>
                    <app-slider-item *ngFor="let item of items; let i = index"
                        [item]="item" 
                        [active]="i === activeIndex"
                        (categoryNavigate)="navigateToCategory($event)"></app-slider-item>
                    <button class="slick-arrow slick-next" type="button" aria-label="Next slide" (click)="nextSlide()">
                        <svg class="arrow-icon" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                            <path d="M9 6l6 6-6 6" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" />
                        </svg>
                    </button>
                    <ul class="slick-dots">
                        <li *ngFor="let item of items; let i = index" (click)="goToSlide(i)" [class.slick-active]="i === activeIndex">
                            <button type="button">{{ i + 1 }}</button>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4">
                <div class="row banner-wrap">
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner banner-item img-hover_effect">
                            <a routerLink="/catalog" [queryParams]="{category: 'Wheels and Tires'}">
                                <img class="img-full" src="assets/images/banner/2-1.jpg" alt="Uren's Banner">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-12 col-md-6">
                        <div class="slider-banner-2 banner-item img-hover_effect">
                            <a routerLink="/catalog" [queryParams]="{category: 'Interior and Comfort'}">
                                <img class="img-full" src="assets/images/banner/2-2.jpg" alt="Uren's Banner">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>