<div class="breadcrumb-area">
    <div class="container">
        <div class="breadcrumb-content">
            <h2>Other</h2>
            <ul>
                <li><a routerLink="/">Home</a></li>
                <li class="active">Login & Register</li>
            </ul>
        </div>
    </div>
</div>

<div class="uren-login-register_area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 col-md-12 col-xs-12 col-lg-6">
                <form (ngSubmit)="onSubmit()">
                    <div class="login-form">
                        <h4 class="login-title">Login</h4>
                        <div class="row">
                            <div class="col-md-12 col-12">
                                <label>Email Address*</label>

                                <input type="email" name="email" id="email" placeholder="Email Address"
                                    [(ngModel)]="email" (blur)="validateEmail()" />
                            </div>
                            @if (emailError) {
                            <p style="color: red">{{ emailErrorMessage }}</p>
                            }

                            <div class="col-12 mb--20">
                                <label>Password</label>

                                <input type="password" name="password" id="password" [(ngModel)]="password"
                                    placeholder="Password" (blur)="validatePassword()" />
                            </div>
                            @if (passwordError) {
                            <p style="color: red">{{ passwordErrorMessage }}</p>
                            }
                            <div class="col-md-8">
                                <div class="check-box">
                                    <input type="checkbox" id="remember_me" name="rememberMe"
                                        [(ngModel)]="rememberMe" />
                                    <label for="remember_me">Remember me</label>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="forgotton-password_info">
                                    <a routerLink="/register">Don't have an account?</a>
                                </div>
                            </div>

                            @if (error()) {
                            <div class="col-12">
                                <p style="color: red">{{ error() }}</p>
                            </div>
                            }

                            <div class="col-md-12">
                                <button class="uren-login_btn" [disabled]="!isFormValid()">Login</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>