<!-- Single Slide Area -->
<div class="single-slide" [ngClass]="[item.animationClass, item.bgClass]" [class.active]="active">
    <div class="slider-content" [ngClass]="item.contentClass">
        <span [class.primary-text_color]="item.primary">{{ item.subtitle }}</span>
        <h3>{{ item.title }}</h3>
        <h4 *ngIf="item.priceText" [innerHTML]="item.priceText"></h4>
        <div class="uren-btn-ps_left slide-btn" *ngIf="item.buttonText">
            <a class="uren-btn" [href]="item.buttonHref">{{ item.buttonText }}</a>
        </div>
    </div>
</div>